RESERVATIONS_PORT=

AUTH_HTTP_PORT=
AUTH_GRPC_URL=

PAYMENTS_GRPC_URL=

NOTIFICATIONS_GRPC_URL=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=
JWT_TTL=

STRIPE_SECRET_KEY=

SMTP_USER=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_REFRESH=