services:
  mysql:
    image: mysql:9
    container_name: mysql
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}

  reservations:
    build:
      context: .
      dockerfile: ./apps/reservations/Dockerfile
    env_file:
      - .env.production
    ports:
      - '${RESERVATIONS_PORT}:${RESERVATIONS_PORT}'
    depends_on:
      - mysql

  auth:
    build:
      context: .
      dockerfile: ./apps/auth/Dockerfile
    env_file:
      - .env.production
    ports:
      - '${AUTH_HTTP_PORT}:${AUTH_HTTP_PORT}'
    depends_on:
      - mysql

  payments:
    build:
      context: .
      dockerfile: ./apps/payments/Dockerfile
    env_file:
      - .env.production
    depends_on:
      - mysql

  notifications:
    build:
      context: .
      dockerfile: ./apps/notifications/Dockerfile
    env_file:
      - .env.production
    depends_on:
      - mysql

volumes:
  db-data: