apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: reservations
  name: reservations
spec:
  replicas: 1
  selector:
    matchLabels:
      app: reservations
  template:
    metadata:
      labels:
        app: reservations
    spec:
      containers:
        - name: reservations
          image: europe-north2-docker.pkg.dev/reservo-484717/reservations/production
          env:
            - name: RESERVATIONS_PORT
              value: '3000'
            - name: AUTH_TCP_PORT
              value: '3002'
            - name: AUTH_HOST
              value: auth-tcp
            - name: PAYMENTS_TCP_PORT
              value: '3003'
            - name: PAYMENTS_HOST
              value: payments
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: connectionString
          ports:
            - containerPort: 3000