apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: notifications
  name: notifications
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notifications
  template:
    metadata:
      labels:
        app: notifications
    spec:
      containers:
        - name: notifications
          image: europe-north2-docker.pkg.dev/reservo-484717/notifications/production
          env:
            - name: NOTIFICATIONS_TCP_PORT
              value: '3004'
            - name: GOOGLE_CLIENT_ID
              value: 351326640665-lpc7gsk3c3obmcfkff58rbg66igqapsb.apps.googleusercontent.com
            - name: SMTP_USER
              value: fleetch.app@gmail.com
            - name: GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: google
                  key: clientSecret
            - name: GOOGLE_CLIENT_REFRESH
              valueFrom:
                secretKeyRef:
                  name: google
                  key: refreshToken
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: connectionString
          ports:
            - containerPort: 3004
